__pycache__/
*.py[cod]
.DS_Store
.streamlit/secrets.toml
models/*.pkl
data/*.csv
!data/crime_hotspot_clusters.csv
data/processed/*.csv
__pycache__/
.ipynb_checkpoints/
*.pkl
PROJECT_VIVA_DOCUMENTATION.txt
.venv/
src/*